@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 100% 97%;
    --foreground: 3 80% 18%;
    --card: 0 0% 100%;
    --card-foreground: 3 80% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 3 80% 18%;
    --primary: 42 99% 59%;
    --primary-foreground: 3 80% 18%;
    --secondary: 3 80% 18%;
    --secondary-foreground: 40 100% 92%;
    --muted: 40 100% 92%;
    --muted-foreground: 40 39% 84%;
    --accent: 40 100% 92%;
    --accent-foreground: 3 80% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 39% 84%;
    --input: 40 39% 84%;
    --ring: 42 99% 59%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
